@import url("https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Now Display";
  font-style: normal;
}

.container {
  margin: 0 auto;
}

@media (min-width: 320px) {
  .container {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 728px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1260px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1740px;
  }
}

.section {
  padding: 48px 0;
}

.link,
.list {
  list-style: none;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.heading,
.paragraph {
  padding: 0;
  margin: 0;
}

.heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -1px;
  color: #202523;
}

@media (min-width: 1440px) {
  .heading {
    font-size: 62px;
  }
}

.svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  margin-top: 30px;
  line-height: 180%;
  font-weight: normal;
  font-size: 16px;
}

@media (min-width: 1440px) {
  .paragraph {
    margin-top: 0;
  }
}

.slider__box {
  position: relative;
  margin-top: 55px;
}

@media (min-width: 768px) {
  .recruit__ul,
  .about__company__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .recruit__list,
  .about__list {
    width: calc(100% / 2);
  }
}

@media (min-width: 768px) {
  .recruit__list:not(:last-child),
  .about__list:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1440px) {
  .recruit__list:not(:last-child),
  .about__list:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 1440px) {
  .wraper__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button {
  display: block;
}

.header {
  padding-top: 26px;
  background-color: #020213;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.header__nav__menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__svg {
  width: 137px;
  height: 37px;
}

@media (min-width: 1440px) {
  .logo__svg {
    width: 145px;
    height: 40px;
  }
}

.contact-icon__svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 968px) {
  .contact-icon__svg {
    display: none;
  }
}

.burger__menu__button {
  margin-left: 16px;
}

@media (min-width: 968px) {
  .burger__menu__button {
    display: none;
  }
}

.header__nav__menu {
  display: none;
}

@media (min-width: 968px) {
  .header__nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 150px;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .header__nav__menu {
    margin-left: 310px;
  }
}

.nav__list:not(:last-child) {
  margin-right: 36px;
}

.nav__link,
.nav__link__contact {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.nav__link__contact {
  display: none;
}

@media (min-width: 968px) {
  .nav__link__contact {
    display: block;
    width: 156px;
    padding: 10px;
    border: 2px solid #18e8a4;
    border-radius: 50px;
    font-weight: bold;
    text-align: center;
  }
}

.current {
  font-weight: 900;
  color: #18e8a4;
}

.section__hero {
  position: relative;
  background-color: #020213;
}

@media (min-width: 1440px) {
  .section__hero {
    padding-top: 90px;
  }
}

.exclamation__point {
  color: #18e8a4;
}

.hero__text {
  font-size: 40px;
  line-height: 111%;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .hero__text {
    font-size: 56px;
    width: 430px;
    margin-right: 50px;
  }
}

.hero__text__paragraph {
  margin-top: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 155%;
  color: #ffffff;
}

@media (min-width: 1440px) {
  .hero__text__paragraph {
    width: 576px;
    font-size: 24px;
  }
}

.background__img__box {
  background-position: -31px;
  height: 213px;
  overflow: hidden;
  margin-top: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/mobile/hero-img-mob@1x.jpg");
  background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/mobile/hero-img-mob@1x.jpg");
}

@media (min-width: 568px) {
  .background__img__box {
    background-position: -70px;
    height: 337px;
  }
}

@media (min-width: 968px) {
  .background__img__box {
    background-position: -31px;
    height: 337px;
  }
}

@media (min-width: 1440px) {
  .background__img__box {
    height: 676px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/mobile/hero-img-mob@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/mobile/hero-img-mob@2x.jpg");
  }
}

@media (min-width: 568px) {
  .background__img__box {
    background-image: url("../img/hero-background-img/tablet/hero-img-tab@1x.jpg");
  }
}

@media screen and (min-width: 568px) and (min-device-pixel-ratio: 2), screen and (min-width: 568px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 568px) and (min-resolution: 192dpi), screen and (min-width: 568px) and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/tablet/hero-img-tab@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/tablet/hero-img-tab@2x.jpg");
  }
}

@media (min-width: 768px) {
  .background__img__box {
    background-image: url("../img/hero-background-img/tablet/hero-img-tab@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/tablet/hero-img-tab@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/tablet/hero-img-tab@2x.jpg");
  }
}

@media (min-width: 968px) {
  .background__img__box {
    background-image: url("../img/hero-background-img/desktop/hero-img-desktop@1x.jpg");
  }
}

@media screen and (min-width: 968px) and (min-device-pixel-ratio: 2), screen and (min-width: 968px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 968px) and (min-resolution: 192dpi), screen and (min-width: 968px) and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/desktop/hero-img-desktop@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/desktop/hero-img-desktop@2x.jpg");
  }
}

@media (min-width: 1440px) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/desktop/hero-img-desktop@1x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/desktop/hero-img-desktop@1x.jpg");
  }
}

@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/desktop/hero-img-desktop@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/desktop/hero-img-desktop@2x.jpg");
  }
}

@media (min-width: 1920px) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/desktop-hd/hero-img-hd@1x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/desktop-hd/hero-img-hd@1x.jpg");
  }
}

@media screen and (min-width: 1920px) and (min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1920px) and (min-resolution: 192dpi), screen and (min-width: 1920px) and (min-resolution: 2dppx) {
  .background__img__box {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(2, 2, 19, 0)), to(#020213)), url("../img/hero-background-img/desktop-hd/hero-img-hd@2x.jpg");
    background-image: linear-gradient(180deg, rgba(2, 2, 19, 0) 70%, #020213 100%), url("../img/hero-background-img/desktop-hd/hero-img-hd@2x.jpg");
  }
}

.see__all__roles__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 172px;
  height: 40px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 16px;
  font-weight: 800;
  font-size: 13px;
  line-height: 120%;
  /* identical to box height, or 16px */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #020213;
  background: #18e8a4;
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

@media (max-width: 767.9px) {
  .see__all__roles__btn {
    margin: 0 auto;
    margin-top: 42px;
  }
}

@media (max-width: 1439.9px) {
  .see__all__roles__btn {
    margin-top: 8px;
  }
}

@media (min-width: 1440px) {
  .see__all__roles__btn {
    position: absolute;
    width: 378px;
    height: 212px;
    left: 484.2px;
    top: 49.9%;
    opacity: 0.9;
    font-size: 28px;
    line-height: 120%;
  }
}

@media (min-width: 1920px) {
  .see__all__roles__btn {
    height: 213px;
    left: 881.8px;
    top: 49.8%;
  }
}

.section__about__company {
  background-color: #fff;
}

.text__about {
  color: #545460;
}

.about__company {
  line-height: 90%;
}

@media (min-width: 1440px) {
  .about__company {
    width: 320px;
    margin-right: 100px;
  }
}

@media (min-width: 1440px) {
  .list__wraper {
    width: 840px;
  }
}

.recruit__process__section {
  background-color: #d5d4d9;
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
}

@media (min-width: 1440px) {
  .recruit__process__section {
    padding-bottom: 210px;
  }
}

.recruit__process__isntruction {
  color: #485563;
}

@media (min-width: 1440px) {
  .paragraph__recruit__text {
    font-size: 24px;
  }
}

@media (max-width: 767.9px) {
  .second {
    display: none;
  }
}

.slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__heading {
  margin-top: 16px;
  font-weight: 800;
}

@media (min-width: 1440px) {
  .slider__heading {
    font-size: 36px;
    width: 254px;
  }
}

.slider__text {
  line-height: 156%;
  color: #596067;
}

@media (min-width: 1440px) {
  .slider__text {
    width: 300px;
    margin-top: 16px;
  }
}

@media (min-width: 1440px) {
  .stage__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.stage__list:not(:last-child) {
  margin-right: 24px;
}

@media (min-width: 1440px) {
  .hidden__till__1440px {
    width: 248px;
  }
}

@media (max-width: 1439.9px) {
  .hidden__till__1440px {
    display: none;
  }
}

@media (min-width: 1440px) {
  .hidden__from__1440px {
    display: none;
  }
}

.stage__element {
  font-weight: bold;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  text-transform: uppercase;
  color: #545460;
}

.recruit__process {
  margin-right: 285px;
}

@media (min-width: 1440px) {
  .recruit__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .recruit__list {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .recruit__list:not(:last-child) {
    margin-bottom: 24px;
  }
}

.stage__slider {
  position: relative;
  height: 514px;
  margin-right: 10px;
  padding: 32px 25px;
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(117.15deg, #1bd1fc 0%, #316dd1 100%);
  -webkit-box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
  border-radius: 16px;
  z-index: 1;
}

@media (min-width: 768px) {
  .stage__slider {
    width: calc(100% / 2);
    padding: 32px 20px;
  }
}

@media (min-width: 1440px) {
  .stage__slider {
    padding: 56px 24px;
    height: 457px;
  }
}

@media (min-width: 1440px) {
  .stage__slider:not(:first-child) {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .hide__superscript {
    display: none;
  }
}

.page__number {
  position: absolute;
  bottom: 0;
  font-weight: 900;
  font-size: 260px;
  line-height: 100%;
  letter-spacing: -1px;
  z-index: -1;
}

@media (min-width: 1440px) {
  .page__number {
    right: 5%;
  }
}

.one {
  color: #efdcfb;
}

@media (max-width: 1439.9px) {
  .one {
    left: 25%;
  }
}

.two {
  color: #cfecfa;
}

@media (max-width: 1439.9px) {
  .arrows {
    display: none;
  }
}

@media (min-width: 1440px) {
  .arrows {
    position: absolute;
    bottom: -27%;
    left: -6%;
    z-index: 1;
  }
}
/*# sourceMappingURL=main.css.map */