.link,
.list {
  list-style: none;
  text-decoration-line: none;
}
.heading,
.paragraph {
  padding: 0;
  margin: 0;
}
.heading {
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -1px;

  color: #202523;

  @include container-width_1440 {
    font-size: 62px;
  }
}
.svg {
  display: flex;
}
.paragraph {
  margin-top: 30px;
  line-height: 180%;
  font-weight: normal;
  font-size: 16px;
  @include container-width_1440 {
    margin-top: 0;
  }
}

.slider__box {
  position: relative;

  margin-top: 55px;
}
.recruit__ul,
.about__company__list {
  @include container-width_768 {
    display: flex;
  }
}
.recruit__list,
.about__list {
  @include container-width_768 {
    width: calc(100% / 2);
  }
}
.recruit__list:not(:last-child),
.about__list:not(:last-child) {
  @include container-width_768 {
    margin-right: 30px;
  }

  @include container-width_1440 {
    margin-right: 40px;
  }
}
.wraper__container {
  @include container-width_1440 {
    display: flex;
  }
}
