.recruit__process__section {
  background-color: #d5d4d9;
  box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
    0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
}
.recruit__process__isntruction {
  color: #485563;
}
.slider__heading {
  margin-top: 16px;
  font-weight: 800;
}
.slider__text {
  line-height: 156%;
  color: #596067;
}
